{#
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
#}

{# Page pour les candidatures #}
{% extends "_base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="/assets/styles/global/form.css">
{% endblock %}

{% block description %}Candidature{% endblock %}

{% block key %}Candidature{% endblock %}

{% block title %}- Candidature{% endblock %}

{% block navigation %}
  <p><a href="/">Accueil</a></p>
  <p><a href="/Reglements">Règlements</a></p>
  <p><a href="/Histoire">Histoire</a></p>
{% endblock %}

{% block main %}
  <form class="connexion" action="/ajout-candidature" enctype="multipart/form-data" method="post">
    {% set __days = ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche'] %}
    {% set __hzs = ['am', 'pm', 'abend', 'night'] %}
    {% set __index = 0 %}

    {% for formulaire in formulaires %}
      <section class="contenu">
        <h1>{{ formulaire.section }}</h1>
        {% for q, question in formulaire.questions %}
          {% set __index = __index + 1 %}
          {# Question type texte #}
          {% if question.type == "text" %}
            <div>
              <label for="question_{{ __index }}">{{ question.title }}</label>
              <input type="text" id="question_{{ __index }}" name="question_{{ __index }}" placeholder="{{ question.placeholder }}" {% if question.require %}required{% endif %}>
            </div>
          {% endif %}

          {# Question type long texte #}
          {% if question.type == "longtext" %}
            <div>
              <label for="question_{{ __index }}">{{ question.title }}</label>
              <textarea id="question_{{ __index }}" name="question_{{ __index }}" rows="10" placeholder="{{ question.placeholder }}" {% if question.require %}required{% endif %}></textarea>
            </div>
          {% endif %}

          {# Question type number #}
          {% if question.type == "number" %}
            <div>
              <label for="question_{{ __index }}">{{ question.title }}</label>
              <input type="number" name="question_{{ __index }}" id="question_{{ __index }}" {% if question.min %}min="{{ question.min }}"{% endif %} {% if question.max %}max="{{ question.max }}"{% endif %} placeholder="{{ question.placeholder }}" required>
            </div>
          {% endif %}

          {# Question type list #}
          {% if question.type == "list" %}
            <div>
              <label for="question_{{ __index }}">{{ question.title }}</label>
              <select name="question_{{ __index }}">
                {% for r, response in question.responses %}
                  <option value="{{ r }}">{{ response }}</option>
                {% endfor %}
              </select>
            </div>
          {% endif %}

          {# Question type date #}
          {% if question.type == "date" %}
            <div>
              <label for="question_{{ __index }}">{{ question.title }} :</label>
              <select name="question_{{ __index }}" id="date_{{ __index }}" onchange="visibility({{ __index }})">
                <option value="1">Concerné</option>
                <option value="0">Non Concerné</option>
              </select>
            </div>

            <div style="display: block;" id="dispo_{{ __index }}">
              <section class="grille_dispo">
                <p></p>
                <p class="except">Matin</p>
                <p class="except">Après-midi</p>
                <p class="except">Soir</p>
                <p class="except">Nuit</p>
                {% for day in __days %}
                  <p>{{ day }}</p>
                  {% for hz in __hzs %}
                    <input type="checkbox" name="{{ __index }}_{{ day|slice(0, 3)|lower}}_{{ hz }}">
                  {% endfor %}
                {% endfor %}
              </section>
            </div>
          {% endif %}
        {% endfor %}
      </section>
    {% endfor %}

    <section class="contenu">
      <h1>Ajouter document(s)</h1>

      <div>
        <label for="uploads">Insérer des documents :</label>
        <input id="uploads" type="file" accept="application/pdf" name="attachments[]" onchange="checkSizeFiles()" multiple>
        <input id="taillemax" type="hidden" name="MAX_FILE_SIZE" value="5000000">

      </div>

      <div id="alert-taille" class="alertTaille">
        <p>Taille maximum des fichiers dépassée</p>
      </div>

      <div class="btn">
        <p></p>
        <button id="submit-button" type="submit" name="button">Envoyer</button>
      </div>
    </section>
  </form>
{% endblock %}

{% block script %}
  <script type="text/javascript" src="/assets/script/candidature.js"></script>
{% endblock %}
